#headerNav{
    background-color: #34495e;
}

#headerNav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#headerNav ul li{
    padding: 20px;
}

#headerNav ul li a{
    color: white;
}


.row {
    background-color: white;
}

h2 {
    text-align: center;
}

#posted {
    text-align: center;
}

#postList {
    padding-left: 20%;
}

#logo {
    width: 375px;
    height: 200px;
    background-image: url(../../img/harbourside-logo.png);
    margin-left: 40%;
    background-repeat: no-repeat;
}


#footer {
	background-color: #2B6F73;
	height: 150px;
	padding: 30px 30px 0 35px;
}
#contact { 
	float: left; 
	line-height: 1.25; 
	margin-right: 20px; 
	padding-left: 5px; 
	width: 295px;
}

#copyright {
	float: left;
	width: 375px;
}

#positively-wellington {
	float: right;
}
#market{
    margin-left: 300px;
    margin-right: 300px;
}

li {
    text-align: center;
}

ul {
    list-style: none;
}
